<div>
  <div class="subpage-header">
      <div class="w-container">
          <h2 data-ix="page-title" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Patient Setup</h2>
          <h2 data-ix="page-title-2" class="header-title _2" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Patient and caregiver setup</h2>
      </div>
  </div>
</div>

<!-- Ok, for this, we really need to syncronize with the website.
  For the initial product, the concept was a basic 'patient' (may or may not be with ID),
  and then who to contact. The website needs an actual user table; 
  due to HIPAA this also implies we need logins, then we need password reset, etc.
  sigh.



-->

<div class="page-content">
  <div class="container w-container">
      <div class="w-row">
          <div class="column w-col w-col-7">
              <div class="div-block">
                  <!-- <div class="form-block w-form">

                      <form id="person-form" name="person-form" data-name="Person Form">
                          <label >Patient:</label>

                          <label for="fname">First Name:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="true" name="fname" data-name="fname" required id="fname" type="text">

                          <label for="lname">Last Name:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="lname" data-name="lname" id="lname" type="text">

                         <label ><p>Person to alert:</p></label>


                          <label for="relation">Person is a/the:</label>
                          <select id="data-list">
                              <option value="Caregiver">Caregiver</option>
                              <option value="Family Member">Family Member</option>
                              <option value="Doctor/Medical personnel">Doctor/Medical personnel</option>
                          </select>


                          <label for="email">Email:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="email" data-name="email" required id="email" type="email">

                          <label for="fname">First Name:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="true" name="fname" data-name="fname" required id="fname" type="text">

                          <label for="lname">Last Name:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="lname" data-name="lname" id="lname" type="text">
                         
                          <label>Text on an incident:</label>
                          <label class="rndswitch">
                              <input id="alertson" name="alertson" data-name="alertson" type="checkbox">
                              <span class="rndslider round"></span>
                          </label>

                          <label for="phone">Phone number:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="phone" data-name="phone" id="phone" type="tel">

                          <label>Email details on an incident:</label>
                          <label class="rndswitch">
                              <input id="alertson" name="alertson" data-name="alertson" type="checkbox">
                              <span class="rndslider round"></span>
                          </label>

                          <label for="timezone">Time Zone:</label>
                          <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="timezone" data-name="timezone" id="timezone" type="text">

                          <input value="Submit" data-wait="Please wait..." class="w-button" type="submit">
                      </form>
                      <div class="w-form-done">
                          <div>Settings have been saved</div>
                      </div>
                      <div class="w-form-fail">
                          <div>Oops! Please check all inputs</div>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>