<div class="subpage-header">
  <div class="w-container">
      <h2 data-ix="page-title" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Incident Listing</h2>
      <h2 data-ix="page-title-2" class="header-title _2" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">With Charts</h2>
  </div>
</div>

<!-- <app-graph></app-graph> -->

<app-footer></app-footer>