<form id="email-form" name="email-form" data-name="Email Form">
  <label for="name">Device Name:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="true" name="name" data-name="Name" id="name" type="text">

   <label>Alerting Enabled:</label>
  <label class="rndswitch">
      <input id="alertson" name="alertson" data-name="alertson" type="checkbox">
      <span class="rndslider round"></span>
  </label>

  <label for="sensitivity">Report Sensitivity:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="sensitivity" data-name="sensitivity" id="sensitivity" required type="number" min="0" max="100" step="1" >

  <label for="recordfor">How long to record:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="recordfor" data-name="recordfor" id="recordfor" required type="text">

  <label for="repeattime">Minutes to repeat for seizure detection:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="repeattime" data-name="repeattime" id="repeattime" required type="text">

  <label for="city">Location/City:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="city" data-name="city" id="city" type="text">

  <label for="country">Country:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="country" data-name="country" id="country" type="text">

  <label for="timezone">Time Zone:</label>
  <input class="text-field roundinput w-input" maxlength="256" autofocus="false" name="timezone" data-name="timezone" id="timezone" type="text">

  <input value="Submit" data-wait="Please wait..." class="w-button" type="submit">
</form>
