<div>
  <div class="subpage-header">
      <div class="w-container">
          <h2 data-ix="page-title" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Setup</h2>
          <h2 data-ix="page-title-2" class="header-title _2" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Important device setup</h2>
      </div>
  </div>
</div>
<div class="page-content">
  <div class="container w-container">
      <div class="w-row">
        <div class="column w-col w-col-7">
          <div class="div-block">
            <form class="form-Device" #formDevice="ngForm" (ngSubmit)="onSaveDeviceInfo(formDevice)">
              <input type="hidden" id="id" name="id" class="form-control" [(ngModel)]="this.deviceApi.selectedDeviceInfo.id">
              <input type="hidden" id="lastCloudsync" name="lastCloudsync" class="form-control" [(ngModel)]="this.deviceApi.selectedDeviceInfo.lastCloudsync">
              <input type="hidden" id="lastUpdate" name="lastUpdate" class="form-control" [(ngModel)]="this.deviceApi.selectedDeviceInfo.lastUpdate">
              <input type="hidden" id="manufactured" name="manufactured" class="form-control" [(ngModel)]="this.deviceApi.selectedDeviceInfo.manufactured">
              <label for="name">Name your device: </label>
              <input name="name" placeholder="name" id="name"
                     class="text-field roundinput w-input"
                     autofocus="true" type="text" [(ngModel)]="this.deviceApi.selectedDeviceInfo.name" maxlength="256">

              <label for="hostname">Network host name: </label>
              <input name="hostname" placeholder="hostname" id="hostname"
                     class="text-field roundinput w-input"
                     type="text" [(ngModel)]="this.deviceApi.selectedDeviceInfo.hostname" maxlength="256">

              <h3>Important setup information:</h3>

              <label for="alertingenabled">Alerts will be sent on incident detection: </label>

              <label class="rndswitch">
                <input id="alertingenabled" name="alertingenabled" placeholder="alertingenabled" type="checkbox" [(ngModel)]="this.deviceApi.selectedDeviceInfo.alertingenabled">
                <span class="rndslider round"></span>
              </label>


              <label for="sensitivity">Overall device sensitivity: </label>
              <input name="sensitivity" placeholder="sensitivity" id="sensitivity"
                     class="text-field roundinput w-input"
                     type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.sensitivity">

              <label for="reportTime">Time to report: </label>
              <input name="reportTime" placeholder="reportTime" id="reportTime"
                     class="text-field roundinput w-input"
                     type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.reportTime">

              <label for="rectimeMin">Video recording for: </label>
              <input name="rectimeMin" placeholder="rectimeMin" id="rectimeMin"
                     class="text-field roundinput w-input"
                     type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.rectimeMin">

              <label for="reportAfter">Send alerts (texts) after how many minutes of detected incident: </label>
              <input name="reportAfter" placeholder="reportAfter" id="reportAfter"
                     class="text-field roundinput w-input"
                     type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.reportAfter">

              <label for="rectimePre">How long to save video recording before the incident: </label>
              <input name="rectimePre" placeholder="rectimePre" id="rectimePre"
                     class="text-field roundinput w-input"
                     type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.rectimePre">

              <h3>Address information:</h3>

              <label for="addr1">Street address line 1: </label>
              <input name="addr1" placeholder="addr1" id="addr1"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.addr1">

              <label for="addr2">Street address line 2: </label>
              <input name="addr2" placeholder="addr2" id="addr2"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.addr2">

              <label for="city">City: </label>
              <input name="city" placeholder="city" id="city"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.city">

              <label for="postalcode">Postal Code (Zip code): </label>
              <input name="postalcode" placeholder="postalcode" id="postalcode"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.postalcode">

              <label for="country">Country: </label>
              <input name="country" placeholder="country" id="country"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.country">

              <label for="timezone">Timezone: </label>
              <input name="timezone" placeholder="timezone" id="timezone"
                     class="text-field roundinput w-input"
                     type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.timezone">

              <button type="button" data-wait="Please wait..." class="btn btn-outline-info btn-lg btn-block" (click)="doSaveDeviceInfo(formDevice)">Update Device/Customer information</button>

              <div>
                Additional technical information about your device (mainly for support personel)

                <label for="debug">Debug: </label>
                <label class="rndswitch">
                  <input name="debug" placeholder="debug" id="debug"
                         type="checkbox"
                         [(ngModel)]="this.deviceApi.selectedDeviceInfo.debug">
                  <span class="rndslider round"></span>
                </label>


                <label for="localIpv4">Local Ipv4: </label>
                <input name="localIpv4" placeholder="localIpv4" id="localIpv4"
                       class="text-field roundinput w-input"
                       type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.localIpv4">

                <label for="localIpv6">Local Ipv6: </label>
                <input name="localIpv6" placeholder="localIpv6" id="localIpv6"
                       class="text-field roundinput w-input"
                       type="number" min="0" max="240" step="1" [(ngModel)]="this.deviceApi.selectedDeviceInfo.localIpv6">

                <label for="cpuid">Cpu Id: (device serial)</label>
                <input name="cpuid" placeholder="cpuid" id="cpuid"
                       class="text-field roundinput w-input"
                       type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.cpuid">

                <label for="partno">partno: </label>
                <input name="partno" placeholder="partno" id="partno"
                       class="text-field roundinput w-input"
                       type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.partno">
                <label for="lot">Lot: </label>
                <input name="lot" placeholder="lot" id="lot"
                       class="text-field roundinput w-input"
                       type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.lot">

                <label for="udi">Udi: </label>
                <input name="udi" placeholder="udi" id="udi"
                       class="text-field roundinput w-input"
                       type="text" maxlength="256" [(ngModel)]="this.deviceApi.selectedDeviceInfo.udi">
              </div>
            </form>
          <div class="w-col w-col-5">
            <p class="paragraph">If you do not know the DNS name (technical!) please leave it blank, and a default will be used</p>
          </div>
        </div>
  </div>
</div>
<app-footer></app-footer>
