<div class="subpage-header">
  <div class="w-container">
      <h2 data-ix="page-title" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Nice to meet you.</h2>
      <h2 data-ix="page-title-2" class="header-title _2" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">A little about our company...</h2>
  </div>
</div>
<div class="profile-content">
  <div class="w-container">
      <div class="profile-text-block">
          <h3 class="section-title _2">About us</h3>
          <h3 class="section-title">Epilepsy Care Labs</h3>
          <p class="intro-paragraph">We use digital health products to monitor people with chronic health conditions.</p>
          <p> Our initial focus is epilepsy. Stay tuned for product releases!</p>
          <a href="http://www.facebook.com/" target="_blank" class="some-button profile w-inline-block">
              <img src="./images/Icon-facebook.png"></a>
          <a href="http://www.twitter.com/" target="_blank" class="some-button profile w-inline-block">
              <img src="./images/Icon-twitter.png"></a>
      </div><img src="./images/Joshua.png" class="profile-image">
  </div>
</div>
<div class="page-content tint">
  <div class="w-container">
      <div class="w-row">
          <div class="image-column w-col w-col-6"><img src="./images/Arduino_ftdi_chip-1x595.jpg" class="polaroid-image"></div>
          <div class="right-column w-col w-col-6">
              <h3 class="section-title _2">Current Challenges</h3>
              <h3 class="section-title">And how we solve them</h3>
              <p class="intro-paragraph"></p>
              <p>We are currently working on novel breathing algorithms, 3D optical sensors, comfortable oxygen sensors that you can actually sleep with, and other 
                  synergistic technologies. 
              </p>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
