<div class="header">
  <div data-duration-in="400" data-duration-out="400" data-easing="ease-in-cubic" class="header-tabs w-tabs">
    <div class="header-tabs-content w-tab-content">
      <div data-w-tab="HomeTab" class="header-tab-pane home-page w-tab-pane w--tab-active" style="opacity: 1; transition: opacity 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 0.3; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Device Page</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 500ms ease 0s;">Welcome To Epilepsy Care Labs</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Watching you and your loved ones, securely.</h2>
          <a routerLink="/about" data-ix="tab-button" class="button" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">About</a>
        </div>
      </div>
      <div data-w-tab="IncidentTab" class="header-tab-pane  w-tab-pane" style="">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">recordings</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Incident database</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Select here to view a list of all incidents, and add manual incidents to the database.</h2>
          <a routerLink="/incidents" data-ix="tab-button" class="button" style="opacity: 1;
            transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Review Incidents</a><br />
          <a routerLink="/camerainfo" data-ix="tab-button" class="button" style="opacity: 1;
            transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Recordings</a>
          <a routerLink="/radarinfo" data-ix="tab-button" class="button" style="opacity: 1;
            transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Motion</a>
          <a routerLink="/wearableinfo" data-ix="tab-button" class="button" style="opacity: 1;
            transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Wearables</a>
        </div>
      </div>
      <div data-w-tab="DeviceTab" class="header-tab-pane  w-tab-pane">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">options</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Device Setup</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Setup your Epilepsy Care Labs devices, set thresholds, and other important settings.</h2>
          <a routerLink="/devicesetup" data-ix="tab-button" class="button" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-0deg);">Customize your Device</a>
        </div>
      </div>
      <div data-w-tab="PeopleTab" class="header-tab-pane  w-tab-pane" style="">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">People</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Patient/Caregiver setup</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(10px) translateZ(0px); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Enter patient information, caregiver and medical personnel information. </h2>
          <a routerLink="/patientsetup" data-ix="tab-button" class="button" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg); transition: opacity 500ms ease 0s, transform 500ms ease 0s;">Configure Users</a>
        </div>
      </div>
      <div data-w-tab="NetworkTab" class="header-tab-pane w-tab-pane">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Get Connected</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Networking setup</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Choose  WiFi networks, change device name, and other utility settings. Note:&nbsp;you shouldn't need to change this more than once.</h2>
          <a routerLink="/netsetup" data-ix="tab-button" class="button" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-0deg);">Connect to a Network</a>
        </div>
      </div>
      <div data-w-tab="SupportTab" class="header-tab-pane w-tab-pane">
        <div class="header-container w-container">
          <h2 data-ix="tab-title" class="header-title heading" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Get in touch</h2>
          <h2 data-ix="tab-title-2" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">Support</h2>
          <h2 data-ix="tab-title-3" class="header-title _2" style="opacity: 1; transform: translateX(0px) translateY(-10px) translateZ(0px);">If you have questions or need non-medical help with this device, please contact us!</h2>
          <a routerLink="/support" data-ix="tab-button" class="button" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(-0deg);">Get in touch</a>
        </div>
      </div>
    </div>
    <div class="header-tab-menu w-tab-menu">
      <a data-w-tab="HomeTab" class="header-tab-link w-inline-block w-clearfix w-tab-link w--current">
        <img src="images/home-w-200.png" class="tab-icon"><div class="tab-title">Home/Status</div>
      </a>
      <!--<a routerLink="/incidents" data-w-tab="IncidentTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/Form-Icon-w-200.png" class="tab-icon"><div class="tab-title">Incidents</div>
      </a><a routerLink="/devicesetup" data-w-tab="DeviceTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/gear-w-200.png" class="tab-icon"><div class="tab-title">Device Setup</div>
      </a><a routerLink="/patientsetup" data-w-tab="PeopleTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/People-Icon-Web.png" class="tab-icon"><div class="tab-title">Patient/Caregiver Setup</div>
      </a><a routerLink="/netsetup" data-w-tab="NetworkTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/wifi-w-200.png" alt="Network" class="tab-icon"><div class="tab-title">Network setup</div>
      </a><a routerLink="/support" data-w-tab="SupportTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/Icon-Mail.png" class="tab-icon"><div class="tab-title">Non-medical Support</div>
      </a>-->
      <!--JDG: These two blocks are the menu at the bottom of the front page; it animates a
          the text blocks defined above, when you click, NOT route directly to the pages.
          TTD: TODO: if we click on teh bottom menu twice, it should take us directly TO that page.
          -->
      <a data-w-tab="IncidentTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/Form-Icon-w-200.png" class="tab-icon"><div class="tab-title">Incidents</div>
      </a><a data-w-tab="DeviceTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/gear-w-200.png" class="tab-icon"><div class="tab-title">Device Setup</div>
      </a><a data-w-tab="PeopleTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/People-Icon-Web.png" class="tab-icon"><div class="tab-title">Patient/Caregiver Setup</div>
      </a><a data-w-tab="NetworkTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/wifi-w-200.png" alt="Network" class="tab-icon"><div class="tab-title">Network setup</div>
      </a><a data-w-tab="SupportTab" class="header-tab-link w-inline-block w-clearfix w-tab-link">
        <img src="images/Icon-Mail.png" class="tab-icon"><div class="tab-title">Non-medical Support</div>
      </a>
    </div>
  </div>
</div>
<div class="full-width-divider"><a routerLink="/incidents" class="button divider-button">view all incidents</a></div>

<app-footer></app-footer>
