<div class="div-block">
  <form formGroup="<%- modelName %>Form">
     <% test=buildFormInputType(model) %><%- test%>
  </form>

</div>

<% test=buildDeclare(model) %><%- test%>

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
<% test=buildInterface(model) %><%- test%>
  
