<div class="div-block">
  <form formGroup="<%- modelName %>Form">

    <% for ( var prop in model.properties ) { %>
    <label for='<%= prop %>'><%= prop %>:</label>
     <input class='form-control w-input roundinput' formControlName='<%= prop %>' id='<%= prop %>'
     autofocus="false"  
     <% buildPropertyDefaultValue(prop) %>
     <% buildFormInputType(prop) %>
     >
    <% } %>
  </form>
</div>