<div class="cta-stripe"></div>
<div class="footer">
  <div class="w-container">
      <div class="w-row">
          <div class="footer-column w-col w-col-4">
              <h4 class="footer-title">About Care Labs</h4>
              <p class="all-paragraphs-white">
Care Labs produces a series of monitors to detect Epileptic fits.
              </p>
          </div>
          <div class="footer-column w-col w-col-4">
              <h4 class="footer-title">Location</h4>
              <ul class="footer-list w-list-unstyled">
                  <li class="footer-list-item">
                      <p class="all-paragraphs-white">123 Main Street</p>
                  </li>
                  <li class="footer-list-item">
                      <p class="all-paragraphs-white">Los&nbsp;Angeles, California</p>
                  </li>
                  <li class="footer-list-item">
                      <p class="all-paragraphs-white">USA</p>
                  </li>
              </ul>
          </div>
          <div class="footer-column w-col w-col-4">
              <h4 class="footer-title">Get in touch</h4>
              <ul class="footer-list w-list-unstyled">
                  <li class="footer-list-item">
                      <p class="all-paragraphs-white"><strong>Phone</strong>: 310-555-1212<a href="#" class="link footer-link"></a></p>
                  </li>
                  <li class="footer-list-item">
                      <p class="all-paragraphs-white"><strong>Mail</strong>:&nbsp;Support@example.com</p>
                  </li>
                  <li class="footer-list-item"></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="bottom-footer-block">
      <div class="w-container">
          <div class="w-row">
              <div class="footer-left w-col w-col-4">
                  <h4 class="bottom-footer-title">Carelabs</h4>
              </div>
              <div class="footer-mid w-col w-col-4">
                  <h4 class="bottom-footer-title _2">© 2018 CareLabs</h4>
                  <h4 class="bottom-footer-title _3">123 Any street</h4>
              </div>
              <div class="footer-right w-col w-col-4">
                  <a href="http://www.facebook.com/" target="_blank" class="some-button w-inline-block">
                      <img src="images/Icon-facebook.png"></a>
                  <a href="http://www.twitter.com/" target="_blank" class="some-button w-inline-block">
                      <img src="images/Icon-twitter.png"></a>
              </div>
          </div>
      </div>
  </div>
</div>



