<h1>{{title}}</h1>
  <div data-animation="over-left" class="navbar w-nav" data-easing2="ease-out" data-easing="ease-out" data-collapse="all" data-no-scroll="1" data-duration="300" data-doc-height="1">
    <nav role="navigation" class="nav-menu-container w-nav-menu">
        <a href="#" class="close-menu">? Back to page (Close Menu).</a>
        <a routerLink="/" class="nav-link w-nav-link w-nav-link">Home</a>
        <a routerLink="/incidents" class="nav-link w-nav-link">Incidents</a>
        <a routerLink="/devicesetup" class="nav-link w-nav-link">Device Setup</a>
        <a routerLink="/netsetup" class="nav-link w-nav-link">Network Setup</a>
        <a routerLink="/patientsetup" class="nav-link w-nav-link">Patient Setup</a>
        <a routerLink="/support" class="nav-link w-nav-link">Support</a>
        <a routerLink="/about" class="nav-link w-nav-link">About</a>
    
    </nav>
    <div data-ix="display-none-fake-menu-bar" class="fake-menu-bar w-hidden-medium w-hidden-small w-hidden-tiny" style="transform: translateX(-10px) translateY(0px) translateZ(0px);"></div>
    <div data-ix="show-fake-menu-bar" class="menu-button w-nav-button">
        <div class="menu-icon w-icon-nav-menu"></div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>

<router-outlet></router-outlet>
