<div>
  <div class="subpage-header">
      <div class="w-container">
          <h2 data-ix="page-title" class="header-title" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Network Setup</h2>
          <h2 data-ix="page-title-2" class="header-title _2" style="opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">Setup connectivity for your device</h2>
      </div>
  </div>
</div>

<div class="page-content">
  <div class="container w-container">
      <div class="w-row">
          <div class="column w-col w-col-7">
            <div class="div-block">
              <div class="div-block">
                <form formGroup="DeviceWifiForm">
                  <label for="devId">devId: </label>
                  <input name="devId" data-name="devId" id="devId"
                         class="text-field roundinput w-input"
                         autofocus="true" type="number" min="0" max="240" step="1">

                  <label for="wifiId">wifiId: </label>
                  <input name="wifiId" data-name="wifiId" id="wifiId"
                         class="text-field roundinput w-input"
                         autofocus="true" type="number" min="0" max="240" step="1">

                  <label for="wifiPassphrase">wifiPassphrase: </label>
                  <input name="wifiPassphrase" data-name="wifiPassphrase" id="wifiPassphrase"
                         class="text-field roundinput w-input"
                         autofocus="true" type="text" maxlength="256">

                  <label for="wifiSsid">wifiSsid: </label>
                  <input name="wifiSsid" data-name="wifiSsid" id="wifiSsid"
                         class="text-field roundinput w-input"
                         autofocus="true" type="text" maxlength="256">

                  <label for="wifiType">wifiType: </label>
                  <input name="wifiType" data-name="wifiType" id="wifiType"
                         class="text-field roundinput w-input"
                         autofocus="true" type="text" maxlength="256">

                  <label for="wifiDhcp">wifiDhcp: </label>
                  <input name="wifiDhcp" data-name="wifiDhcp" id="wifiDhcp"
                         class="text-field roundinput w-input"
                         autofocus="true">

                  <label for="wifiStaticip">wifiStaticip: </label>
                  <input name="wifiStaticip" data-name="wifiStaticip" id="wifiStaticip"
                         class="text-field roundinput w-input"
                         autofocus="true" type="number" min="0" max="240" step="1">

                  <label for="wifiProxy">wifiProxy: </label>
                  <input name="wifiProxy" data-name="wifiProxy" id="wifiProxy"
                         class="text-field roundinput w-input"
                         autofocus="true">

                  <label for="wifiProxyPort">wifiProxyPort: </label>
                  <input name="wifiProxyPort" data-name="wifiProxyPort" id="wifiProxyPort"
                         class="text-field roundinput w-input"
                         autofocus="true" type="number" min="0" max="240" step="1">

                  <label for="wifiProxyHost">wifiProxyHost: </label>
                  <input name="wifiProxyHost" data-name="wifiProxyHost" id="wifiProxyHost"
                         class="text-field roundinput w-input"
                         autofocus="true" type="text" maxlength="256">

                  <button type="button" data-wait="Please wait..." class="btn btn-outline-info btn-lg btn-block" (click)="submitDeviceInfoForm()">Update</button>

                </form>

              </div>
            </div>
          </div>
          <div class="w-col w-col-5">
              <p class="paragraph">IMPORTANT! Make sure any changes are correct. If necessary, reset the device and reconnect with the App (if you do this, your data will not be lost!)</p>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
