<div class="div-block">
  <form formGroup="CamDetectionForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="userId">userId: </label>
    <input name="userId" data-name="userId" id="userId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="recFilename">recFilename: </label>
    <input name="recFilename" data-name="recFilename" id="recFilename" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareCamDetectionForm() {
   const formModel = this.CamDetectionForm.value;
   const CamDetectionData = {
     id: formModel.id,
     userId: formModel.userId,
     timeStamp: formModel.timeStamp,
     recDuration: formModel.recDuration,
     recFilename: formModel.recFilename,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return CamDetectionData;
}
createCamDetectionForm() {
this.CamDetectionForm = this.fb.group({
     id: 0,
     userId: 0,
     timeStamp: Date.now(),
     recDuration: Date.now(),
     recFilename: '',
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface CamDetectionInterface {
     id?: number;
     userId?: number;
     timeStamp?: Date;
     recDuration?: Date;
     recFilename?: string;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
