<div class="div-block">
  <form formGroup="DeviceInfoForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="name">name: </label>
    <input name="name" data-name="name" id="name" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="hostname">hostname: </label>
    <input name="hostname" data-name="hostname" id="hostname" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="cpuid">cpuid: </label>
    <input name="cpuid" data-name="cpuid" id="cpuid" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="Partno">diPartno: </label>
    <input name="Partno" data-name="Partno" id="diPartno" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="lot">lot: </label>
    <input name="lot" data-name="lot" id="lot" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="udi">udi: </label>
    <input name="udi" data-name="udi" id="udi" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="addr1">addr1: </label>
    <input name="addr1" data-name="addr1" id="addr1" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="addr2">addr2: </label>
    <input name="addr2" data-name="addr2" id="addr2" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="city">city: </label>
    <input name="city" data-name="city" id="city" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="postalcode">postalcode: </label>
    <input name="postalcode" data-name="postalcode" id="postalcode" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="country">country: </label>
    <input name="country" data-name="country" id="country" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="timezone">timezone: </label>
    <input name="timezone" data-name="timezone" id="timezone" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="alertingenabled">alertingenabled: </label>
    <input name="alertingenabled" data-name="alertingenabled" id="alertingenabled" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="sensitivity">sensitivity: </label>
    <input name="sensitivity" data-name="sensitivity" id="sensitivity" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="reportTime">reportTime: </label>
    <input name="reportTime" data-name="reportTime" id="reportTime" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="rectimeMin">rectimeMin: </label>
    <input name="rectimeMin" data-name="rectimeMin" id="rectimeMin" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="devReportAfter">devReportAfter: </label>
    <input name="devReportAfter" data-name="devReportAfter" id="devReportAfter" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="rectimePre">rectimePre: </label>
    <input name="rectimePre" data-name="rectimePre" id="rectimePre" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="debug">debug: </label>
    <input name="debug" data-name="debug" id="debug" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

<label for="localIpv4">localIpv4: </label>
    <input name="localIpv4" data-name="localIpv4" id="localIpv4" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="localIpv6">localIpv6: </label>
    <input name="localIpv6" data-name="localIpv6" id="localIpv6" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareDeviceInfoForm() {
   const formModel = this.DeviceInfoForm.value;
   const DeviceInfoData = {
     id: formModel.id,
     name: formModel.name,
     hostname: formModel.hostname,
     cpuid: formModel.cpuid,
     Partno: formModel.Partno,
     manufactured: formModel.manufactured,
     lot: formModel.lot,
     udi: formModel.udi,
     addr1: formModel.addr1,
     addr2: formModel.addr2,
     city: formModel.city,
     postalcode: formModel.postalcode,
     country: formModel.country,
     timezone: formModel.timezone,
     alertingenabled: formModel.alertingenabled,
     sensitivity: formModel.sensitivity,
     reportTime: formModel.reportTime,
     rectimeMin: formModel.rectimeMin,
     devReportAfter: formModel.devReportAfter,
     rectimePre: formModel.rectimePre,
     debug: formModel.debug,
     localIpv4: formModel.localIpv4,
     localIpv6: formModel.localIpv6,
     lastUpdate: formModel.lastUpdate,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return DeviceInfoData;
}
createDeviceInfoForm() {
this.DeviceInfoForm = this.fb.group({
     id: '',
     name: '',
     hostname: '',
     cpuid: '',
     Partno: '',
     manufactured: Date.now(),
     lot: '',
     udi: '',
     addr1: '',
     addr2: '',
     city: '',
     postalcode: '',
     country: '',
     timezone: '',
     alertingenabled: '',
     sensitivity: 0,
     reportTime: 0,
     rectimeMin: 0,
     devReportAfter: 0,
     rectimePre: 0,
     localIpv4: 0,
     localIpv6: 0,
     lastUpdate: Date.now(),
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface DeviceInfoInterface {
     id?: string;
     name?: string;
     hostname?: string;
     cpuid?: string;
     Partno?: string;
     manufactured?: Date;
     lot?: string;
     udi?: string;
     addr1?: string;
     addr2?: string;
     city?: string;
     postalcode?: string;
     country?: string;
     timezone?: string;
     alertingenabled?: string;
     sensitivity?: number;
     reportTime?: number;
     rectimeMin?: number;
     devReportAfter?: number;
     rectimePre?: number;
     localIpv4?: number;
     localIpv6?: number;
     lastUpdate?: Date;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
