<div class="div-block">
  <form formGroup="DeviceWifiForm">
     <label for="devId">devId: </label>
    <input name="devId" data-name="devId" id="devId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="passphrase">passphrase: </label>
    <input name="passphrase" data-name="passphrase" id="passphrase" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="ssid">ssid: </label>
    <input name="ssid" data-name="ssid" id="ssid" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="type">type: </label>
    <input name="type" data-name="type" id="type" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="dhcp">dhcp: </label>
    <input name="dhcp" data-name="dhcp" id="dhcp" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

<label for="staticip">staticip: </label>
    <input name="staticip" data-name="staticip" id="staticip" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="proxy">proxy: </label>
    <input name="proxy" data-name="proxy" id="proxy" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

<label for="proxyPort">proxyPort: </label>
    <input name="proxyPort" data-name="proxyPort" id="proxyPort" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="proxyHost">proxyHost: </label>
    <input name="proxyHost" data-name="proxyHost" id="proxyHost" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareDeviceWifiForm() {
   const formModel = this.DeviceWifiForm.value;
   const DeviceWifiData = {
     devId: formModel.devId,
     id: formModel.id,
     passphrase: formModel.passphrase,
     ssid: formModel.ssid,
     type: formModel.type,
     dhcp: formModel.dhcp,
     staticip: formModel.staticip,
     proxy: formModel.proxy,
     proxyPort: formModel.proxyPort,
     proxyHost: formModel.proxyHost,
     lastcloudsync: formModel.lastcloudsync,
     idCloud: formModel.idCloud,
};
return DeviceWifiData;
}
createDeviceWifiForm() {
this.DeviceWifiForm = this.fb.group({
     devId: 0,
     id: 0,
     passphrase: '',
     ssid: '',
     type: '',
     staticip: 0,
     proxyPort: 0,
     proxyHost: '',
     lastcloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface DeviceWifiInterface {
     devId?: number;
     id?: number;
     passphrase?: string;
     ssid?: string;
     type?: string;
     staticip?: number;
     proxyPort?: number;
     proxyHost?: string;
     lastcloudsync?: Date;
     idCloud?: number;
}
  
