<div class="div-block">
  <form formGroup="IncidentsForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="frequency">frequency: </label>
    <input name="frequency" data-name="frequency" id="frequency" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="caffeine">caffeine: </label>
    <input name="caffeine" data-name="caffeine" id="caffeine" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="medicationsSkipped">medicationsSkipped: </label>
    <input name="medicationsSkipped" data-name="medicationsSkipped" id="medicationsSkipped" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="abnormalLowSleep">abnormalLowSleep: </label>
    <input name="abnormalLowSleep" data-name="abnormalLowSleep" id="abnormalLowSleep" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="accountId">accountId: </label>
    <input name="accountId" data-name="accountId" id="accountId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="tonicsClonics">tonicsClonics: </label>
    <input name="tonicsClonics" data-name="tonicsClonics" id="tonicsClonics" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="tonics">tonics: </label>
    <input name="tonics" data-name="tonics" id="tonics" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="partials">partials: </label>
    <input name="partials" data-name="partials" id="partials" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="absence">absence: </label>
    <input name="absence" data-name="absence" id="absence" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="others">others: </label>
    <input name="others" data-name="others" id="others" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="seizuresFiveMinute">seizuresFiveMinute: </label>
    <input name="seizuresFiveMinute" data-name="seizuresFiveMinute" id="seizuresFiveMinute" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="notes">notes: </label>
    <input name="notes" data-name="notes" id="notes" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="duration">duration: </label>
    <input name="duration" data-name="duration" id="duration" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="accuracy">accuracy: </label>
    <input name="accuracy" data-name="accuracy" id="accuracy" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="averageHr">averageHr: </label>
    <input name="averageHr" data-name="averageHr" id="averageHr" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="averageRespiration">averageRespiration: </label>
    <input name="averageRespiration" data-name="averageRespiration" id="averageRespiration" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="gazeCaptured">gazeCaptured: </label>
    <input name="gazeCaptured" data-name="gazeCaptured" id="gazeCaptured" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

<label for="gazeAverage">gazeAverage: </label>
    <input name="gazeAverage" data-name="gazeAverage" id="gazeAverage" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="limbMotion">limbMotion: </label>
    <input name="limbMotion" data-name="limbMotion" id="limbMotion" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareIncidentsForm() {
   const formModel = this.IncidentsForm.value;
   const IncidentsData = {
     id: formModel.id,
     date: formModel.date,
     frequency: formModel.frequency,
     caffeine: formModel.caffeine,
     medicationsSkipped: formModel.medicationsSkipped,
     abnormalLowSleep: formModel.abnormalLowSleep,
     accountId: formModel.accountId,
     createdOn: formModel.createdOn,
     tonicsClonics: formModel.tonicsClonics,
     tonics: formModel.tonics,
     partials: formModel.partials,
     absence: formModel.absence,
     others: formModel.others,
     seizuresFiveMinute: formModel.seizuresFiveMinute,
     notes: formModel.notes,
     duration: formModel.duration,
     accuracy: formModel.accuracy,
     averageHr: formModel.averageHr,
     averageRespiration: formModel.averageRespiration,
     gazeCaptured: formModel.gazeCaptured,
     gazeAverage: formModel.gazeAverage,
     limbMotion: formModel.limbMotion,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return IncidentsData;
}
createIncidentsForm() {
this.IncidentsForm = this.fb.group({
     id: 0,
     date: Date.now(),
     frequency: 0,
     caffeine: 0,
     medicationsSkipped: 0,
     abnormalLowSleep: 0,
     accountId: 0,
     createdOn: Date.now(),
     tonicsClonics: 0,
     tonics: 0,
     partials: 0,
     absence: 0,
     others: 0,
     seizuresFiveMinute: 0,
     notes: '',
     duration: '',
     accuracy: 0,
     averageHr: 0,
     averageRespiration: 0,
     gazeAverage: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface IncidentsInterface {
     id?: number;
     date?: Date;
     frequency?: number;
     caffeine?: number;
     medicationsSkipped?: number;
     abnormalLowSleep?: number;
     accountId?: number;
     createdOn?: Date;
     tonicsClonics?: number;
     tonics?: number;
     partials?: number;
     absence?: number;
     others?: number;
     seizuresFiveMinute?: number;
     notes?: string;
     duration?: string;
     accuracy?: number;
     averageHr?: number;
     averageRespiration?: number;
     gazeAverage?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
