<div class="div-block">
  <form formGroup="MobileConnectionForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="userId">userId: </label>
    <input name="userId" data-name="userId" id="userId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="heartRate">heartRate: </label>
    <input name="heartRate" data-name="heartRate" id="heartRate" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="accelerationx">accelerationx: </label>
    <input name="accelerationx" data-name="accelerationx" id="accelerationx" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="accelerationy">accelerationy: </label>
    <input name="accelerationy" data-name="accelerationy" id="accelerationy" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="accelerationz">accelerationz: </label>
    <input name="accelerationz" data-name="accelerationz" id="accelerationz" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="seizureDetected">seizureDetected: </label>
    <input name="seizureDetected" data-name="seizureDetected" id="seizureDetected" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareMobileConnectionForm() {
   const formModel = this.MobileConnectionForm.value;
   const MobileConnectionData = {
     id: formModel.id,
     userId: formModel.userId,
     timeStamp: formModel.timeStamp,
     heartRate: formModel.heartRate,
     accelerationx: formModel.accelerationx,
     accelerationy: formModel.accelerationy,
     accelerationz: formModel.accelerationz,
     seizureDetected: formModel.seizureDetected,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return MobileConnectionData;
}
createMobileConnectionForm() {
this.MobileConnectionForm = this.fb.group({
     id: 0,
     userId: 0,
     timeStamp: Date.now(),
     heartRate: 0,
     accelerationx: 0,
     accelerationy: 0,
     accelerationz: 0,
     seizureDetected: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface MobileConnectionInterface {
     id?: number;
     userId?: number;
     timeStamp?: Date;
     heartRate?: number;
     accelerationx?: number;
     accelerationy?: number;
     accelerationz?: number;
     seizureDetected?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
