<div class="div-block">
  <form formGroup="O2vibeConnectionForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="userId">userId: </label>
    <input name="userId" data-name="userId" id="userId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="heartRate">heartRate: </label>
    <input name="heartRate" data-name="heartRate" id="heartRate" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="spo2Rate">spo2Rate: </label>
    <input name="spo2Rate" data-name="spo2Rate" id="spo2Rate" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareO2vibeConnectionForm() {
   const formModel = this.O2vibeConnectionForm.value;
   const O2vibeConnectionData = {
     id: formModel.id,
     userId: formModel.userId,
     timeStamp: formModel.timeStamp,
     heartRate: formModel.heartRate,
     spo2Rate: formModel.spo2Rate,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return O2vibeConnectionData;
}
createO2vibeConnectionForm() {
this.O2vibeConnectionForm = this.fb.group({
     id: 0,
     userId: 0,
     timeStamp: Date.now(),
     heartRate: 0,
     spo2Rate: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface O2vibeConnectionInterface {
     id?: number;
     userId?: number;
     timeStamp?: Date;
     heartRate?: number;
     spo2Rate?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
