<div class="div-block">
  <form formGroup="PeopleRelationsForm">
     <label for="patientId">patientId: </label>
    <input name="patientId" data-name="patientId" id="patientId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="relationId">relationId: </label>
    <input name="relationId" data-name="relationId" id="relationId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="role">role: </label>
    <input name="role" data-name="role" id="role" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="authorize">authorize: </label>
    <input name="authorize" data-name="authorize" id="authorize" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 preparePeopleRelationsForm() {
   const formModel = this.PeopleRelationsForm.value;
   const PeopleRelationsData = {
     patientId: formModel.patientId,
     relationId: formModel.relationId,
     role: formModel.role,
     authorize: formModel.authorize,
     lastmodified: formModel.lastmodified,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
     id: formModel.id,
};
return PeopleRelationsData;
}
createPeopleRelationsForm() {
this.PeopleRelationsForm = this.fb.group({
     patientId: 0,
     relationId: 0,
     role: '',
     authorize: '',
     lastmodified: Date.now(),
     lastCloudsync: Date.now(),
     idCloud: 0,
     id: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface PeopleRelationsInterface {
     patientId?: number;
     relationId?: number;
     role?: string;
     authorize?: string;
     lastmodified?: Date;
     lastCloudsync?: Date;
     idCloud?: number;
     id?: number;
}
  
