<div class="div-block">
  <form formGroup="PeopleForm">
     <label for="accountId">accountId: </label>
    <input name="accountId" data-name="accountId" id="accountId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="email">email: </label>
    <input name="email" data-name="email" id="email" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="firstName">firstName: </label>
    <input name="firstName" data-name="firstName" id="firstName" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="lastName">lastName: </label>
    <input name="lastName" data-name="lastName" id="lastName" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="password">password: </label>
    <input name="password" data-name="password" id="password" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="dob">dob: </label>
    <input name="dob" data-name="dob" id="dob" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="clinicalTrials">clinicalTrials: </label>
    <input name="clinicalTrials" data-name="clinicalTrials" id="clinicalTrials" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="productsServices">productsServices: </label>
    <input name="productsServices" data-name="productsServices" id="productsServices" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="invocationFirst">invocationFirst: </label>
    <input name="invocationFirst" data-name="invocationFirst" id="invocationFirst" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="timezone">timezone: </label>
    <input name="timezone" data-name="timezone" id="timezone" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="alertsOn">alertsOn: </label>
    <input name="alertsOn" data-name="alertsOn" id="alertsOn" 
        class="text-field roundinput w-input"
        autofocus="true" 
        >

<label for="smartphone">smartphone: </label>
    <input name="smartphone" data-name="smartphone" id="smartphone" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="voiceonlyphone">voiceonlyphone: </label>
    <input name="voiceonlyphone" data-name="voiceonlyphone" id="voiceonlyphone" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 preparePeopleForm() {
   const formModel = this.PeopleForm.value;
   const PeopleData = {
     accountId: formModel.accountId,
     email: formModel.email,
     firstName: formModel.firstName,
     lastName: formModel.lastName,
     password: formModel.password,
     dob: formModel.dob,
     clinicalTrials: formModel.clinicalTrials,
     productsServices: formModel.productsServices,
     invocationFirst: formModel.invocationFirst,
     timezone: formModel.timezone,
     alertsOn: formModel.alertsOn,
     smartphone: formModel.smartphone,
     voiceonlyphone: formModel.voiceonlyphone,
     lastEdit: formModel.lastEdit,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return PeopleData;
}
createPeopleForm() {
this.PeopleForm = this.fb.group({
     accountId: 0,
     email: '',
     firstName: '',
     lastName: '',
     password: '',
     dob: '',
     clinicalTrials: 0,
     productsServices: 0,
     invocationFirst: 0,
     timezone: '',
     smartphone: '',
     voiceonlyphone: '',
     lastEdit: Date.now(),
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface PeopleInterface {
     accountId?: number;
     email?: string;
     firstName?: string;
     lastName?: string;
     password?: string;
     dob?: string;
     clinicalTrials?: number;
     productsServices?: number;
     invocationFirst?: number;
     timezone?: string;
     smartphone?: string;
     voiceonlyphone?: string;
     lastEdit?: Date;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
