<div class="div-block">
  <form formGroup="SeizuresForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="date">date: </label>
    <input name="date" data-name="date" id="date" 
        class="text-field roundinput w-input"
        autofocus="true" type="text" maxlength="256" 
        >

<label for="frequency">frequency: </label>
    <input name="frequency" data-name="frequency" id="frequency" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="caffeine">caffeine: </label>
    <input name="caffeine" data-name="caffeine" id="caffeine" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="medicationsSkipped">medicationsSkipped: </label>
    <input name="medicationsSkipped" data-name="medicationsSkipped" id="medicationsSkipped" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="abnormalLowSleep">abnormalLowSleep: </label>
    <input name="abnormalLowSleep" data-name="abnormalLowSleep" id="abnormalLowSleep" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="accountId">accountId: </label>
    <input name="accountId" data-name="accountId" id="accountId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="tonicsClonics">tonicsClonics: </label>
    <input name="tonicsClonics" data-name="tonicsClonics" id="tonicsClonics" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="tonics">tonics: </label>
    <input name="tonics" data-name="tonics" id="tonics" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="partials">partials: </label>
    <input name="partials" data-name="partials" id="partials" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="absence">absence: </label>
    <input name="absence" data-name="absence" id="absence" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="others">others: </label>
    <input name="others" data-name="others" id="others" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="seizuresFiveMinute">seizuresFiveMinute: </label>
    <input name="seizuresFiveMinute" data-name="seizuresFiveMinute" id="seizuresFiveMinute" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareSeizuresForm() {
   const formModel = this.SeizuresForm.value;
   const SeizuresData = {
     id: formModel.id,
     date: formModel.date,
     frequency: formModel.frequency,
     caffeine: formModel.caffeine,
     medicationsSkipped: formModel.medicationsSkipped,
     abnormalLowSleep: formModel.abnormalLowSleep,
     accountId: formModel.accountId,
     createdOn: formModel.createdOn,
     tonicsClonics: formModel.tonicsClonics,
     tonics: formModel.tonics,
     partials: formModel.partials,
     absence: formModel.absence,
     others: formModel.others,
     seizuresFiveMinute: formModel.seizuresFiveMinute,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return SeizuresData;
}
createSeizuresForm() {
this.SeizuresForm = this.fb.group({
     id: 0,
     date: '',
     frequency: 0,
     caffeine: 0,
     medicationsSkipped: 0,
     abnormalLowSleep: 0,
     accountId: 0,
     createdOn: Date.now(),
     tonicsClonics: 0,
     tonics: 0,
     partials: 0,
     absence: 0,
     others: 0,
     seizuresFiveMinute: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface SeizuresInterface {
     id?: number;
     date?: string;
     frequency?: number;
     caffeine?: number;
     medicationsSkipped?: number;
     abnormalLowSleep?: number;
     accountId?: number;
     createdOn?: Date;
     tonicsClonics?: number;
     tonics?: number;
     partials?: number;
     absence?: number;
     others?: number;
     seizuresFiveMinute?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
