<div class="div-block">
  <form formGroup="XethruSleepDetectionForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="userId">userId: </label>
    <input name="userId" data-name="userId" id="userId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="breathingState">breathingState: </label>
    <input name="breathingState" data-name="breathingState" id="breathingState" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="state1Time">state1Time: </label>
    <input name="state1Time" data-name="state1Time" id="state1Time" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="breathingRate">breathingRate: </label>
    <input name="breathingRate" data-name="breathingRate" id="breathingRate" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="hasArmMoved">hasArmMoved: </label>
    <input name="hasArmMoved" data-name="hasArmMoved" id="hasArmMoved" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="movementTime">movementTime: </label>
    <input name="movementTime" data-name="movementTime" id="movementTime" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="movementRepeating">movementRepeating: </label>
    <input name="movementRepeating" data-name="movementRepeating" id="movementRepeating" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareXethruSleepDetectionForm() {
   const formModel = this.XethruSleepDetectionForm.value;
   const XethruSleepDetectionData = {
     id: formModel.id,
     userId: formModel.userId,
     timeStamp: formModel.timeStamp,
     breathingState: formModel.breathingState,
     state1Time: formModel.state1Time,
     breathingRate: formModel.breathingRate,
     hasArmMoved: formModel.hasArmMoved,
     movementTime: formModel.movementTime,
     movementRepeating: formModel.movementRepeating,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return XethruSleepDetectionData;
}
createXethruSleepDetectionForm() {
this.XethruSleepDetectionForm = this.fb.group({
     id: 0,
     userId: 0,
     timeStamp: Date.now(),
     breathingState: 0,
     state1Time: 0,
     breathingRate: 0,
     hasArmMoved: 0,
     movementTime: 0,
     movementRepeating: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface XethruSleepDetectionInterface {
     id?: number;
     userId?: number;
     timeStamp?: Date;
     breathingState?: number;
     state1Time?: number;
     breathingRate?: number;
     hasArmMoved?: number;
     movementTime?: number;
     movementRepeating?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
