<div class="div-block">
  <form formGroup="XethruDetectionForm">
     <label for="id">id: </label>
    <input name="id" data-name="id" id="id" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="userId">userId: </label>
    <input name="userId" data-name="userId" id="userId" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="movementRepeating">movementRepeating: </label>
    <input name="movementRepeating" data-name="movementRepeating" id="movementRepeating" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="movementTime">movementTime: </label>
    <input name="movementTime" data-name="movementTime" id="movementTime" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

<label for="hasLegMoved">hasLegMoved: </label>
    <input name="hasLegMoved" data-name="hasLegMoved" id="hasLegMoved" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

        autofocus="true" [matDatepicker]="myDatepicker" 
<mat-datepicker #myDatepicker></mat-datepicker>
;
<label for="idCloud">idCloud: </label>
    <input name="idCloud" data-name="idCloud" id="idCloud" 
        class="text-field roundinput w-input"
        autofocus="true" type="number" min="0" max="240" step="1" 
        >

  </form>

</div>

 prepareXethruDetectionForm() {
   const formModel = this.XethruDetectionForm.value;
   const XethruDetectionData = {
     id: formModel.id,
     userId: formModel.userId,
     timeStamp: formModel.timeStamp,
     movementRepeating: formModel.movementRepeating,
     movementTime: formModel.movementTime,
     hasLegMoved: formModel.hasLegMoved,
     lastCloudsync: formModel.lastCloudsync,
     idCloud: formModel.idCloud,
};
return XethruDetectionData;
}
createXethruDetectionForm() {
this.XethruDetectionForm = this.fb.group({
     id: 0,
     userId: 0,
     timeStamp: Date.now(),
     movementRepeating: 0,
     movementTime: 0,
     hasLegMoved: 0,
     lastCloudsync: Date.now(),
     idCloud: 0,
});
}

  // for the file src/app/models; interface objects for the API's.
  // TTD: rebuild these in a different location.
export interface XethruDetectionInterface {
     id?: number;
     userId?: number;
     timeStamp?: Date;
     movementRepeating?: number;
     movementTime?: number;
     hasLegMoved?: number;
     lastCloudsync?: Date;
     idCloud?: number;
}
  
